.section {
  display: flex;
  border-radius: 40px;

  box-shadow: 5px 5px 10px #777676, -5px -5px 10px #ffffff;
  width: 100%;
  min-height: 82%;
}

.section1 {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  padding-left: 45px;
}
.section1 h3 {
  letter-spacing: 0.1rem;
}
.section2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.section2 img {
  width: 700px;
}

@media screen and (max-width: 580px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
    min-height: 70%;
    padding: 10px;
  }
  .section1 {
    align-items: center;
  }
  .section1 h3 {
    font-size: 18px;
  }
  .section2 {
    justify-content: center;
  }
  .section2 img {
    width: 400px;
  }
}
